################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FindTheBugsinCode/.vs/FindTheBugsinCode/v15
/FindTheBugsinCode/obj
